.footer-container {
  width: 100%;
  padding: 20px;
  margin-top: auto;
  background-color: #f7f7f7;
  color: var(--text-color-light);
  text-align: center;
  font-family: var(--default-font);
  font-size: 16px;
  margin: 0 auto;
}

.students {
  text-decoration: underline;
}

.fa-solid {
color: #B92F2C;
padding: 0px 10px;
}