.footer-container {
  width: 100%;
  padding: 20px;
  margin-top: auto;
  background-color: var(--footer-background-color);
  color: var(--footer-text);
  text-align: center;
  font-family: var(--default-font);
  font-size: var(--footer-font-size);
  margin: 0 auto;
}

.students {
  text-decoration: underline;
}

.fa-solid {
color: var(--heart-color);
padding: 0px 10px;
}