.gallery_section {
  background-color: var(--light-theme-color);
}

.movies-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px 40px 20px;
}

.card-list-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  position: relative;
  top: 316px;
  max-width: 1300px;
  margin-right: 25px;
}

.card-list-item {
  transition-property: transform;
  transition-duration: var(--hover);
  transition-timing-function: var(--function-time);
}

.card-list-item:hover {
  transform: scale(1.05);
}

.card-list-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-list-img {
  width: 100%;
  border-radius: 10%;
  height: 420px;
}

.card-list-text {
  color: var(--movie-genre-color);
}

.card-list-title {
  text-transform: uppercase;
  color: var(--text-color-light);
  padding-top: 8px;
}

.card-list-text,
.card-list-title {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: var(--default-weight);
  font-size: 12px;
  line-height: calc(14 / 12);
}
