a {
  text-decoration: none;
}

.hero-section {
  background-image: url('/src/images/background-header-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  max-width: 1190px;
  height: 316px;
  background-color: rgba(197, 5, 5, 0.8);
  overflow: hidden;
  border-radius: 15px;
  position: absolute;
  margin-top: 10px;
}

.home-library {
  list-style-type: none;
  gap: 8px;
  display: flex;
  margin-top: 25px;
}

.home-btn {
  color: var(--text-color-light);
  border-radius: 100px;
  border: transparent;
  padding: 14px 24px;
  background-color: var(--light-theme-color);
  font-weight: var(--default-weight);
  font-size: var(--button-size);
  margin-left: -5px;
  overflow: hidden;
  transition: background-color 0.5s ease-in-out;
}

/* ANIMATIE HOME  */

.home-btn span {
  display: inline-block;
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.home-btn:hover {
  background-color: var(--movie-genre-color) 0.5s ease;
  color: var(--light-theme-color);
  border: transparent;
  transition: background-color 0.5s ease-in-out;
}

.home-btn:hover span {
  opacity: 1;
  transform: translateY(0);
}

.home-btn:hover .home-h {
  opacity: 1;
  transform: translateY(-10px);
  transition-delay: 0.1s;
}

.home-btn:hover .home-o {
  opacity: 1;
  transform: translateY(-5px);
  transition-delay: 0.2s;
}

.home-btn:hover .home-m {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.3s;
}

.home-btn:hover .home-e {
  opacity: 1;
  transform: translateY(5px);
  transition-delay: 0.4s;
}

/* ANIMATIE MY LIBRARY */

.library-btn span {
  display: inline-block;
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.library-btn:hover {
  background-color: var(--movie-genre-color) 0.5s ease;
  color: var(--light-theme-color);
  border: transparent;
  transition: background-color 0.5s ease-in-out;
}

.library-btn:hover span {
  opacity: 1;
  transform: translateY(0);
}

.library-btn:hover .my-btn {
  opacity: 1;
  transform: translateY(-10px);
  transition-delay: 0.1s;
}

.library-btn:hover .lbr-btn {
  opacity: 1;
  transform: translateY(5px);
  transition-delay: 0.2s;
}

.library-btn {
  color: var(--text-color-light);
  border-radius: 100px;
  border: transparent;
  padding: 14px 24px;
  background-color: var(--light-theme-color);
  font-weight: var(--default-weight);
  font-size: var(--button-size);
  transition: background-color 0.5s ease-in-out;
}



.watched-btn,
.queue-btn {
  color: var(--text-color-light);
  border-radius: 100px;
  border: transparent;
  padding: 14px 24px;
  background-color: var(--light-theme-color);
  font-weight: 700;
  font-size: var(--button-size);
  overflow: hidden;
  transition: background-color 0.5s ease-in-out;
}

.watched-btn:hover,
.queue-btn:hover {
  cursor: pointer;
  background-color: var(--movie-genre-color) 0.5s ease;
  border: transparent;
  transition: background-color 0.5s ease-in-out;
}

.active {
  background-color: var(--movie-genre-color);
  color: var(--light-theme-color);
}

.logo-title {
  position: absolute;
  bottom: 5%;
  left: 3%;
}

.film-logo {
  width: 59px;
  height: 59px;
  margin-right: 16px;
  margin-bottom: 15px;
  fill: white;

  animation: rotate-animation 10s linear infinite;
  transform-origin: center;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.second-logo {
  display: none;
}

.title {
  color: var(--light-theme-color);
  font-weight: var(--default-weight);
  font-size: 64px;
  line-height: 75px;
  position: absolute;
  bottom: 12px;
}

.nav-list {
  display: flex;
}

.search-form {
  border: 1px solid white;
  border-radius: 100px;
  background-color: var(--light-theme-color);
  outline: none;
  display: flex;
  padding: 10px;
  margin-left: 32px;
  margin-right: -20px;
  margin-top: 10px;
}

.search-form input {
  border: none;
  color: var(--text-color-light);
  outline: none;
  font-size: var(--search-size);
}

.search-form button {
  border: none;
  background: transparent;
}

.search-form button:hover {
  cursor: pointer;
}

.dark-btn {
  cursor: pointer;
  position: absolute;
  right: 5%;
  bottom: 10%;
  border: transparent;
  border-radius: 20px;
  padding: 5px 25px;
  background-color: var(--light-theme-color);
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease-in-out;
}

.fa-moon {
  /* color: var(--light-theme-color); */
  opacity: 0;
  transform: translateY(10px); /* Luna este inițial ascunsă */
}

.dark-btn i {
  font-size: 20px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

#sun {
  color: #f3cf00;
  opacity: 1;
  transform: translateY(10px);
}

@media (min-width: 320px) and (max-width: 767px){
  .hero-section{
  background-image: url('/src/images/phone-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: auto;
  height: 460px;
  background-color: rgba(197, 5, 5, 0.8);
  overflow: hidden;
  border-radius: 15px;
  position: absolute;
  }

  .search-form{
    width: 300px;
    border: 1px solid white;
  display: flex;
  justify-content: space-around;
  position: relative;
  right: 15px;
  
  }

  .home-library{
    display: flex;
    justify-content: flex-start;
    margin-right: 15px;
  }

  .title {
    color: var(--light-theme-color);
    font-weight: var(--default-weight);
    font-size: 55px;
  }

.logo-title{
  position: absolute;
  bottom: 20%;
}

.film-logo{
  width: 40px;

}

.dark-btn{
 position: absolute;
 right: 50%;
 bottom: 5%;
 transform: translateX(50%);
}

.watch-and-queue{
display: flex;
justify-content: flex-start;
margin-top: 50px;
gap: 15px;
}

.watched-btn{
  color: var(--text-color-light);
  border-radius: 100px;
  border: transparent;
  padding: 14px 24px;
  background-color: var(--light-theme-color);
  font-weight: bold;
  font-size: var(--button-size);
  margin-left: -5px;
  overflow: hidden;
  transition: background-color 0.5s ease-in-out;
}

.queue-btn{
  color: var(--text-color-light);
  border-radius: 100px;
  border: transparent;
  padding: 14px 24px;
  background-color: var(--light-theme-color);
  font-weight: bold;
  font-size: var(--button-size);
  margin-left: -5px;
  overflow: hidden;
  transition: background-color 0.5s ease-in-out;
}

  .nav-list{
    display: block;
  }
}

@media (min-width: 1280px){
  .watch-and-queue {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin-top: 25px;
    position: relative;
    top: 90%;
    left: -100%;
    transform: translateX(-95%);
  }
}