/* style.css */
@import url(root.css);

.scrollbutton {
  position: fixed;
  bottom: 14%;
  right: 5%;
  background-color: color: var(--light-theme-color);
  padding: 10px;
  border-radius: 50px;
  text-decoration: none;
}

.scrollbutton:hover {
  background-color: color: var(--light-theme-color);
  font-size: 20px;
  padding: 20px;
}

@media (min-width: 320px) and (max-width: 768px){
  .scrollbutton {
    display: none; 
  }
}
