<!-- footer html -->

<footer class="footer-container">
  <div class="footer-body-content">
    <!-- All Rights Reserved -->
    <p>
      <span>&#169;2024</span>
      <span>&#10072; All Rights Reserved &#10072;</span>
      <span>&thinsp;Developed with<i class="fa-solid fa-heart"></i></span>
     
      <span class="students" id="openFooterModal">by GoIT Students</span>
    </p>
    <!-- Modal section -->
    <div id="myFooterModal" class="footer-modal">
      <div class="footer-modal-content">
        <div class="title-btn-container">
          <h3 class="footer-modal-title">Filmo TEKA Team1</h3>
          <!--Close Button Modal-->
          
          <button type="button" class="btn-close" aria-label="Close">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <path fill="none" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" stroke-width="2.1333" stroke="#bb9d9d" d="M8.533 8.533l14.933 14.933"></path>
              <path fill="none" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" stroke-width="2.1333" stroke="#bb9d9d" d="M8.533 23.467l14.933-14.933"></path>
              </svg>
          
          </button>
        </div>
        <!-- Modal Group section -->
        <ul class="group-section">
          <!--Team Lead Section-->
          <li class="member-section">
            <picture class="edit-img">
              <source
                media="(min-width:1280px)"
                srcset="
                  ./images/valentin.jpg 1x,
                  ./images/valentin.jpg 2x
                "
              />
              <source
                media="(min-width:768px)"
                srcset="
                  ./images/valentin.jpg 1x,
                  ./images/valentin.jpg 2x
                "
              />
              <source
                media="(max-width:320px)"
                srcset="
                  ./images/valentin.jpg 1x,
                  ./images/valentin.jpg 2x
                "
              />
              <img
                class="last-image"
                src="./images/valentin.jpg"
                alt="Stanescu Valentin"
              />
            </picture>
            <section class="member-title1">
              <h4 class="member-name">Stanescu Valentin</h4>
              <span class="member-description">
                Team Leader</span
              >
            </section>
            <!--Members Link Section-->
            <ul class="member-links">
              <li class="social-links">
                <a href="https://github.com/Zenley" target="_blank">
                  <i class="fa-brands fa-github-alt"></i>
                </a>
              </li>
            </ul>
          </li>
<!--Scrum Maser Alexandra Secttion-->
          <li class="member-section">
            <picture class="edit-img">
              <source
                media="(min-width:1280px)"
                srcset="./images/alexandraputanu.jpg 1x, ./images/alexandraputanu.jpg 2x"
              />
              <source
                media="(min-width:768px)"
                srcset="./images/alexandraputanu.jpg 1x, ./images/alexandraputanu.jpg 2x"
              />
              <source
                media="(max-width:320px)"
                srcset="./images/alexandraputanu.jpg 1x, ./images/alexandraputanu.jpg 2x"
              />
              <img class="last-image" src="./images/alexandraputanu.jpg" alt="alexandra" />
            </picture>
            <section class="member-title1">
              <h4 class="member-name">Alexandra Putanu</h4>
              <span class="member-description">
                Scrum Master</span
              >
            </section>
            <!--Scrum Master Link-->
            <ul class="member-links">
              <li class="social-links">
                <a href="https://github.com/alexandraputanu" target="_blank">
                  <i class="fa-brands fa-github-alt"></i>
                </a>
              </li>
            </ul>
          </li>
<!--Alex Giurgi Section-->
          <li class="member-section">
            <picture class="edit-img1">
              <source
                media="(min-width:1280px)"
                srcset="./images/alexgiurgi.jpg 1x, ./images/alexgiurgi.jpg 2x"
              />
              <source
                media="(min-width:768px)"
                srcset="./images/alexgiurgi.jpg 1x, ./images/alexgiurgi.jpg 2x"
              />
              <source
                media="(max-width:320px)"
                srcset="./images/alexgiurgi.jpg 1x, ./images/alexgiurgi.jpg 2x"
              />
              <img
                class="last-image"
                src="./images/alexgiurgi.jpg"
                alt="Alex"
              />
            </picture>
            <section class="member-title">
              <h4 class="member-name">Alex Giurgi</h4>
              <span class="member-description">Frontend Developer</span>
            </section>
            <!--Alex Giurgi Link-->
            <ul class="member-links">
              <li class="social-links">
                <a href="https://github.com/Alex4u18"  target="_blank">
                  <i class="fa-brands fa-github-alt"></i>
                </a>
              </li>
            </ul>
          </li>
          <!--Naomi Mariuta Section-->
          <li class="member-section">
            <picture class="edit-img1">
              <source
                media="(min-width:1280px)"
                srcset="images/naomi.jpg 1x, images/naomi.jpg 2x"
              />
              <source
                media="(min-width:768px)"
                srcset="images/naomi.jpg 1x, images/naomi.jpg 2x"
              />
              <source
                media="(max-width:320px)"
                srcset="images/naomi.jpg 1x, images/naomi.jpg 2x"
              />
              <img
                class="last-image"
                src="./images/naomi.jpg"
                alt="naomi"
              />
            </picture>
            <section class="member-title">
              <h4 class="member-name">Naomi Mariuta</h4>
              <span class="member-description"> Frontend Developer</span>
            </section>
            <!--Naomi Link Section-->
            <ul class="member-links">
              <li class="social-links">
                <a href="https://github.com/naomimariuta"  target="_blank">
                  <i class="fa-brands fa-github-alt"></i>
                </a>
              </li>
            </ul>
          </li>
          <!--Felicia Section-->
          <li class="member-section">
            <picture class="edit-img1">
              <source
                media="(min-width:1280px)"
                srcset="images/trifanfelicia.jpg 1x, images/trifanfelicia.jpg 2x"
              />
              <source
                media="(min-width:768px)"
                srcset="images/trifanfelicia.jpg 1x, images/trifanfelicia.jpg 2x"
              />
              <source
                media="(max-width:320px)"
                srcset="images/trifanfelicia.jpg 1x, images/trifanfelicia.jpg 2x"
              />
              <img class="last-image" src="./images/trifanfelicia.jpg" alt="felicia" />
            </picture>
            <section class="member-title">
              <h4 class="member-name">Trifan Felicia</h4>
              <span class="member-description">Frontend Developer</span>
            </section>
            <!--Felicia Link Section-->
            <ul class="member-links">
              <li class="social-links">
                <a href="https://github.com/trifanuser"  target="_blank">
                  <i class="fa-brands fa-github-alt"></i>
                </a>
              </li>
            </ul>
          </li>
          <!--Andra P Section-->
          <li class="member-section">
            <picture class="edit-img1">
              <source
                media="(min-width:1280px)"
                srcset="images/andraplaton.jpg 1x, images/andraplaton.jpg 2x"
              />
              <source
                media="(min-width:768px)"
                srcset="images/andraplaton.jpg 1x, images/andraplaton.jpg 2x"
              />
              <source
                media="(max-width:320px)"
                srcset="images/andraplaton.jpg 1x, images/andraplaton.jpg 2x"
              />
              <img class="last-image" src="./images/andraplaton.jpg" alt="andra" />
            </picture>
            <section class="member-title">
              <h4 class="member-name">Andra Platon</h4>
              <span class="member-description"> Frontend Developer</span>
            </section>
            <!--Andra Link Section-->
            <ul class="member-links">
              <li class="social-links">
                <a href="https://github.com/AlexandraPlaton16"  target="_blank">
                  <i class="fa-brands fa-github-alt"></i>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
        
  </div>
</footer>
