<header class="hero-section">
  <div class="header-container">
    <nav class="nav-list">
      <form class="search-form">
        <input
          id="searchInput"
          type="text"
          class="search-form-input"
          name="searchQuery"
          placeholder="Movie Search"
          aria-label="movie search"
          autocomplete="off"
        />
        <button type="submit" class="submit-btn">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
      <div class="">
        <ul class="home-library">
          <li>
            <a href="./index.html" class="home-btn">
              <b><span class="home-h">H</span></b>
              <b><span class="home-o">O</span></b>
              <b><span class="home-m">M</span></b>
              <b><span class="home-e">E</span></b>
            </a>
          </li>
          <li>
            <a href="./index.html" class="library-btn">
              <span class="my-btn"><b>MY</b> </span>
              <span class="lbr-btn"><b>LIBRARY</b></span></a
            >
          </li>
        </ul>
      </div>
      <div>
        <ul class="watch-and-queue">
          <li>
            <a class="watched-btn"> Watched </a>
          </li>
          <li>
            <a class="queue-btn"> Queue </a>
          </li>
        </ul>
      </div>
      <div class="logo-title">
        <a href="./index.html">
          <svg class="film-logo rotate-animation">
            <use id="logo" href="/src/images/symbol-defs.svg#icon-film"></use>
            <use
              id="logo2"
              class="second-logo"
              href="/src/images/symbol-defs.svg#icon-camera"
            ></use>
          </svg>
        </a>
        <a href="./index.html" class="title logo-effect">Filmoteka</a>
      </div>

      <button class="dark-btn" id="theme-toggle">
        <i class="fa-solid fa-sun" id="sun"></i>
        <i class="fa-solid fa-moon" id="moon"></i>
      </button>
    </nav>
  </div>
</header>
