<header class="hero-section">
  <div class="header-container">
    <nav class="nav-list">
      <form class="search-form">
        <input
          id="searchInput"
          type="text"
          class="search-form-input"
          name="searchQuery"
          placeholder="Movie Search"
          aria-label="movie search"
          autocomplete="off"
        />
        <button type="submit" class="submit-btn">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
      <div class="">
        <ul class="home-library">
          <li>
            <a href="./index.html" class="home-btn"> <b>HOME</b> </a>
          </li>
          <li>
            <a href="./index.html" class="library-btn"> <b>MY LIBRARY</b> </a>
          </li>
        </ul>
      </div>
      <div class="watch-and-queue">
        <ul>
          <li>
            <a class="watched-btn"> Watched </a>
          </li>
          <li>
            <a class="queue-btn"> Queue </a>
          </li>
        </ul>
      </div>
      <div class="logo-title">
        <a href="./index.html">
          <svg class="film-logo">
            <use href="/src/images/symbol-defs.svg#icon-film"></use>
          </svg>
        </a>
        <a href="./index.html" class="title logo-effect">Filmoteka</a>
      </div>
    </nav>
  </div>
</header>
