<div id="modal" class="modal-overlay is-hidden">
  <div class="modal-content">
    <button type="button" class="close-btn js-close-modal" id="close-modal-btn">
      x
    </button>
    <div class="modal-body">
      <div class="modal-left">
        <img
          id="movie-poster"
          class="movie-poster"
          src="./images/no-img.jpg"
          alt="Movie Poster"
        />
      </div>
      <div class="modal-right">
        <h2 id="movie-title" class="movie-title"></h2>
        <p id="movie-original-title" class="movie-original-title"></p>
        <p id="movie-genres" class="movie-genres"></p>
        <p id="movie-release-date" class="movie-release-date"></p>
        <p id="movie-vote-average" class="movie-vote-average"></p>
        <div id="trailer-container" class="trailer-container"></div>
        <div class="modal-buttons">
          <button class="modal-button" id="watched">ADD TO WATCHED</button>
          <button class="modal-button" id="queue">ADD TO QUEUE</button>
        </div>
        <div class="not_found is-hidden" id="trailer-not-found">
          Movie trailer not found!
        </div>
      </div>
    </div>
  </div>
</div>
