<div class="content-container is-hidden">
  <div class="modal-info">
    <button type="button" class="close-btn js-close-modal">x</button>
    <div class="modal-info-content">
      <div class="info">
        <div class="info-buttons">
          <a href="#" class="library-links">
            <button class="modal-button watched js-watched is-hidden">
              ADD TO WATCHED
            </button>
          </a>
          <a href="#" class="library-links">
            <button class="modal-button queue js-queue is-hidden">
              ADD TO QUEUE
            </button>
          </a>
        </div>
        <button class="modal-button trailer js-trailer is-hidden">
          TRAILER
        </button>
        <div class="not_found is-hidden">Movie trailer not found!</div>
      </div>
    </div>
  </div>
</div>
