@import './sass/modern-normalizer.scss';
@import './sass/root.css';
@import './sass/dark.css';
// @import './sass/mixins.scss';
@import './sass/header.css';
@import './sass/header.scss';
@import './sass/gallery.scss';
@import './sass/movie-modal.scss';
@import './sass/pagination.css';
@import './sass/footer.scss';
